@use "variables";

// Todo app container
.todo {
  min-height: 100vh;
  padding: 1rem;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-image: variables.$bg-mobile--light;
  background-color: variables.$light--very-light-gray;

  // Dark mode
  .app--dark & {
    background-image: variables.$bg-mobile--dark;
    background-color: variables.$dark--very-dark-blue;
  }

  // Desktop media query
  @media (min-width: variables.$screen--min) {
    padding: 2rem;
    background-image: variables.$bg-desktop--light;
    .app--dark & {
      background-image: variables.$bg-desktop--dark;
    }
  }
}

.todo__header {
  margin: 2rem auto 1rem auto;
  max-width: variables.$width--max;

  @media (min-width: variables.$screen--min) {
    margin-bottom: 2rem;
  }
}

.todo__header__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}

.todo__logo {
  color: variables.$white;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.todo__main {
  box-shadow: variables.$box-shadow;
  border-radius: variables.$radius--sm;
  max-width: variables.$width--max;
  margin: auto;
}

.todo__item {
  height: 3rem;
  border-radius: variables.$radius--sm;
  display: flex;
  background-color: variables.$white;
  align-items: center;
  column-gap: 14px;
  padding: 0 1rem;

  .app--dark & {
    background-color: variables.$dark--very-dark-desaturated-blue;
  }
}

.todo__item--completed {
  text-decoration: line-through;
  color: variables.$light--light-grayish-blue;
}

li.todo__item {
  margin-bottom: 1px;
  border-radius: 0;
}

li.todo__item:first-child {
  border-top-left-radius: variables.$radius--sm;
  border-top-right-radius: variables.$radius--sm;
}

li.todo__item:hover {
  cursor: pointer;
}

.todo__item__text {
  height: 100%;
  flex: 1;
  border-radius: inherit;
  border-style: none;
  color: variables.$light--very-dark-grayish-blue;
  font-family: inherit;
  background-color: inherit;
  align-content: center;
  font-size: variables.$font-size--base;

  .app--dark & {
    color: variables.$dark--light-grayish-blue;
  }

  .todo__item--completed & {
    color: variables.$light--light-grayish-blue;

    .app--dark & {
      color: variables.$dark--dark-grayish-blue;
    }
  }
}

input.todo__item__text:focus {
  outline: none;
  caret-color: variables.$bright-blue;
}

.todo__item__mark {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: variables.$light--light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  .app--dark & {
    background: variables.$dark--dark-grayish-blue;
  }
}

button.todo__item__mark {
  .todo__item--completed & {
    background: variables.$check-background;
  }
}
.mark__content {
  background: variables.$white;
  border-radius: 100%;
  height: 95%;
  width: 95%;

  .app--dark & {
    background: variables.$dark--very-dark-desaturated-blue;
  }

  .todo__item--completed & {
    background: inherit;
  }

  svg {
    path {
      .app--dark & {
        stroke: variables.$dark--very-dark-desaturated-blue;
      }
    }
  }
}

button.todo__item__mark:hover {
  background: variables.$check-background;
}

.delete-icon {
  display: flex;
  svg {
    path {
      fill: variables.$light--dark-grayish-blue;
      @media (min-width: variables.$screen--min) {
        fill: variables.$white;
        .app--dark & {
          fill: variables.$dark--very-dark-desaturated-blue;
        }
        li.todo__item:hover & {
          fill: variables.$light--dark-grayish-blue;
        }
      }
    }
  }
}

.check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__filter {
  display: flex;
  justify-content: space-between;
  background-color: variables.$white;
  border-bottom-left-radius: variables.$radius--sm;
  border-bottom-right-radius: variables.$radius--sm;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
  color: variables.$light--dark-grayish-blue;

  .app--dark & {
    background-color: variables.$dark--very-dark-desaturated-blue;
  }
}

.button-clear {
  font-size: variables.$font-size--sm;
}

.button-clear:hover {
  color: variables.$light--very-dark-grayish-blue;
  .app--dark & {
    color: variables.$dark--light-grayish-blue;
  }
}

.todo__remain {
  font-size: variables.$font-size--sm;
}

.todo__router {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: variables.$light--dark-grayish-blue;
  font-weight: font-weight--bold;

  a:hover {
    color: variables.$light--very-dark-grayish-blue;

    .app--dark & {
      color: variables.$dark--light-grayish-blue;
    }
  }
}

.todo__router--desktop {
  display: none;

  @media (min-width: variables.$screen--min) {
    display: flex;
  }
}

.router--selected {
  color: variables.$bright-blue;
}

.todo__nav {
  max-width: variables.$width--max;
  height: 3rem;
  display: flex;
  background-color: variables.$white;
  margin: 2rem auto 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: variables.$radius--sm;
  box-shadow: variables.$box-shadow;

  .app--dark & {
    background-color: variables.$dark--very-dark-desaturated-blue;
  }

  @media (min-width: variables.$screen--min) {
    display: none;
  }
}
