@use "variables";

.app {
  font-family: variables.$font-family;
  font-size: variables.$font-size--base;
  min-height: 100vh;
  transition: background-color 0.3s ease;
  background-color: variables.$light--very-light-gray;

  &.app--dark {
    // Dark mode root styles
    background-color: variables.$dark--very-dark-blue;
  }
}